#include <stdio.h>
#include <stdlib.h>
#include <unistd.h>
#include <windows.h>
void ConvertTimeToHourMinSec(int, int);
int main()
{
    int present_time;
    int time_for_alarm;
    printf("Ange aktuell tid(HH:MM:SS)");
    scanf("%d", &present_time);
    printf("Ange alarmtid(HH:MM:SS)");
    scanf("%d", &time_for_alarm);
    ConvertTimeToHourMinSec(present_time,time_for_alarm);
    return 0;
}

void ConvertTimeToHourMinSec(int PTime, int Atime)
{
  /* Ptime=present_time och Atime=alarmtime*/
  int PHH;
  int PMM;
  int PSS;
  int AHH;
  int AMM;
  int ASS;
  PHH = PTime/10000;
  PMM = ((PTime/100)-(PHH*100));
  PSS = PTime%100;

  AHH = Atime/10000;
  AMM = ((Atime/100)-(AHH*100));
  ASS = Atime%100;

  while (PHH>=0 && PMM>=0 && PSS>=0)
  {
      {
      Sleep(1000);
      printf("%d:%d:%d \n" , PHH, PMM, PSS);
      PSS++;
      }
      if(PSS>59)
      {
          PSS=0;
          PMM++;
      }
      if (PMM>59)
      {
          PMM=0;
          PHH++;
      }
      if (PHH>23)
      {
          PHH=0;
      }
      if(PHH==AHH && PMM==AMM && PSS==ASS)
      {
          printf("%d:%d:%d \n", AHH, PMM, PSS);
          printf("Alarm");
          break;
      }
  }


}


